quran-hd-with-ayah-coordinates-v1.zip filter=lfs diff=lfs merge=lfs -text
quran-hd-with-ayah-coordinates-2480x4200.zip filter=lfs diff=lfs merge=lfs -text
quran-hd-with-ayah-coordinates-1240x2100.zip filter=lfs diff=lfs merge=lfs -text
